@orange1: #e65229;
@orange2: #8e5c1d;
@orange3: #442704;
@orange4: #201302;
@font-family: ff10, Trebuchet MS1, Helvetica, sans-serif;

body {
  font-family: @font-family;
  background-color: @orange3;
  color: @orange1;
  margin: 0 auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  ::-webkit-scrollbar {
    width: 1vmin;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px @orange2;
  }

  ::-webkit-scrollbar-thumb {
    background: @orange1;
  }

  a:link {
    color: @orange1;
    text-decoration: none;
  }

  a:visited {
    color: @orange1;
  }

  a:hover {
    color: @orange1;
  }

  a:active {
    color: @orange1;
  }

  .screen-container {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  h1 {
    font-size: 8vw;
    text-align: center;
  }

  h3 {
    font-size: 5vw;
  }

  .button-bar {
    position: fixed;
    float: left;
    z-index: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 8vmin;
    gap: 1vmin;

    .home-button {
      display: flex;

      img {
        cursor: pointer;
        width: 8vmin;
        object-fit: contain;
      }
    }

    .card-button {
      display: flex;

      .icon {
        display: flex;

        >.letter-icon {
          padding-top: 1vmin;
        }
      }

      .list-background {
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: #1118;
      }

      .list {
        position: fixed;
        display: flex;
        flex-direction: column;
        border: 1px solid @orange1;
        background-color: @orange4;

        .item {
          display: flex;
          flex-direction: row;
          height: 8vmin;
          align-items: center;
          padding: 2vmin;
          cursor: pointer;

          .icon {
            display: flex;
            height: 8vmin;
          }

          &:hover {
            background-color: @orange2;
          }
        }

        .current {
          background-color: @orange3;
        }
      }

      img {
        cursor: pointer;
        width: 6vmin;
        object-fit: contain;
        margin-right: 1vmin;
      }

      .letter-icon {
        display: flex;
        flex-direction: column;
        justify-items: center;
        text-align: center;
        cursor: pointer;
        width: 6vmin;
        height: 6vmin;
        margin-right: 1vmin;

        img {
          width: 6vmin;
          height: 6vmin;
        }

        .label {
          transform: translateY(-4.7vmin);
          font-size: 3vmin;
        }

      }
    }

    .card-filter {
      align-content: center;
      justify-content: center;

      flex: 1;

      input {
        border-color: @orange1;
        background-color: @orange3;
        border-style: solid;
        border-width: 1px;
        font-size: 2em;
        color: @orange2;
        font-family: @font-family;

        &:focus {
          outline: none;
        }

        &::selection {
          color: @orange3;
          background: @orange2;
        }

        &::placeholder {
          color: @orange4;
        }
      }
    }
  }

  .tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .tile {
      h3 {
        margin-top: 0;
        margin-bottom: 0.5em;
      }

      img {
        border-radius: 1vmin;
      }

      padding: 2vmin;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
    }
  }

  .fullscreen-image-container {
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 100%;
  }

  .fullscreen-image {
    margin: 0 auto;
    padding: 0;
    object-fit: contain;
    min-width: 0;
    border-radius: 0.5em;

    &.zoomed-in {
      // object-fit: none;
      transform: scale(2);
    }

    &.zoomed-out {}
  }

  .leaders {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;

    .avatars {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      margin-top: 1em;

      .avatar {
        padding-left: 1em;
        cursor: pointer;

        img {
          border-radius: 2vmin;
          width: 4vw;
          height: 4vw;
        }
      }
    }

    .leader {
      width: 100%;
      height: 100%;
      display: flex;

      img {
        margin: 0 auto;
        padding: 0;
        object-fit: contain;
        min-width: 0;
        border-radius: 2vmin;
      }
    }
  }

  .cards-container {
    margin-top: 9vmin;
    background-color: @orange4;
    width: 100%;
    height: 100%-7vmin;
    overflow: scroll;
    position: fixed;

    .cards-body {
      grid-template-columns: fit-content(1ch) 1fr;
      display: grid;
      gap: 1vmin;
      padding: 1vmin;

      .group-header {
        grid-column: 1;
        display: flex;
        width: 8vmin;
        justify-content: center;
      }

      .group-cards {
        grid-column: 2;
        display: flex;
        flex-direction: row;
        gap: 1vmin;
        place-items: left;

        .card {
          max-width: 70vw;
          max-height: 40vh;
          border-radius: 2vmin;
        }
      }
    }
  }

  .manuals {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 30vw;
      height: 30vh;
      object-fit: contain;
    }
  }
}

.letter-icon {
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;

  img {
    width: 3vmin;
    height: 3vmin;
  }

  .label {
    transform: translateY(-2.4vmin);
    font-size: 2vmin;
  }

}