@page-bg-color: #442704;
@spice-orange: #8e5c1d;


body {
  font-family: ff10, Trebuchet MS1, Helvetica, sans-serif;
  background-color: @page-bg-color;
  color: @spice-orange;
  margin: 0 auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  a:link {
    color: @spice-orange;
    text-decoration: none;
  }

  a:visited {
    color: @spice-orange;
  }

  a:hover {
    color: @spice-orange;
  }

  a:active {
    color: @spice-orange;
  }

  .screen-container {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  h1 {
    font-size: 8vw;
    text-align: center;
  }

  h3 {
    font-size: 5vw;
  }

  .button-bar {
    position: fixed;
    float: left;
    z-index: 1;
  }

  .home-button {
    cursor: pointer;

    img {
      width: 8vmin;
      height: 8vmin;
      object-fit: contain;
    }
  }

  .tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .tile {
      h3 {
        margin-top: 0;
        margin-bottom: 0.5em;
      }

      img {
        border-radius: 1vmin;
      }

      padding: 2vmin;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
    }

  }

  .fullscreen-image-container {
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 100%;
  }

  .fullscreen-image {
    margin: 0 auto;
    padding: 0;
    object-fit: contain;
    min-width: 0;
    border-radius: 0.5em;

    &.zoomed-in {
      // object-fit: none;
      transform: scale(2)
    }

    &.zoomed-out {}
  }

  .leaders {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;

    .avatars {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      margin-top: 1em;

      .avatar {
        padding-left: 1em;
        cursor: pointer;

        img {
          border-radius: 2vmin;
          width: 4vw;
          height: 4vw;
        }
      }
    }

    .leader {
      width: 100%;
      height: 100%;
      display: flex;

      img {
        margin: 0 auto;
        padding: 0;
        object-fit: contain;
        min-width: 0;
        border-radius: 2vmin;
      }
    }
  }

  .manuals {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 30vw;
      height: 30vh;
      object-fit: contain;
    }
  }
}